  <!-- Modal content-->
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    </div>
    <%= form_for @comment, remote: true do |f| %>
      <div class="modal-body" style="padding: 0;">
				<%= f.text_area :body, class: "form-control", id: "edit_message_body", style: "height: 100px;" %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Отправить", class: "btn button btn-primary"%>
      </div>
    <% end %>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript">
  var ready = function () {
    /* Hide modal window input after successful ajax request */
    $('#new_comment').on("ajax:success", function(e, data, status, xhr) {
      $("#myModal").modal('hide');
    });
    /* Submit form on Ctrl+Enter */
    $("#edit_message_body").keydown(function(e){ 
      if(e.which == 13 && e.ctrlKey){ 
        $("#new_comment").submit(); 
      }; 
    }); 
    /*Hide modal window when 'esc'*/
    $(document).keyup(function(e) {
      if (e.keyCode == 27) {
        $("#myModal").modal('hide');
      };
    });
  };
  $(document).ready(ready);
</script>